body {
    background: $body-background;
    display: $body-display;
    justify-content: $body-justify-content;
    font-family: $body-font-family-one, $body-font-family-two, $body-font-family-three;
    grid-template-areas: $body-grid-template-area-one $body-grid-template-area-two $body-grid-template-area-three;
    grid-template-columns: $body-grid-template-columns;
    grid-template-rows: $body-grid-template-rows;
    background-image: $body-background-image;
    background-repeat: $body-background-repeat;
    header {
        grid-area: $header-grid-area;
        align-items: $header-align-items;
        display: $header-display;
    }
    main {
        grid-area: $main-grid-area;
    }
    footer {
        grid-area: $footer-grid-area;
        background: $footer-background;
        color: $footer-color;
        font-size: $footer-font-size;
        padding: $footer-padding;
        text-align: $footer-text-align;
    }
}