@media screen and (max-width: 539px) {
  body {
    display: block; }
    body header {
      height: 100px; }
    body main section {
      flex-direction: column; }
      body main section ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px; }
        body main section ul li {
          height: 200px; }
          body main section ul li:nth-child(1), body main section ul li:nth-child(2), body main section ul li:nth-child(3) {
            grid-row: none;
            grid-column: none; }
          body main section ul li:nth-child(4), body main section ul li:nth-child(5) {
            display: none; } }
@media screen and (min-width: 540px) {
  body {
    display: grid; }

  main section ul {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    margin-bottom: 15px; }
    main section ul li:nth-child(1) {
      grid-row: 1;
      grid-column: 1; }
    main section ul li:nth-child(2) {
      /* foto do dia */
      grid-row: 1;
      grid-column: 2; }
    main section ul li:nth-child(3) {
      grid-row: 2;
      grid-column: 1; }
    main section ul li:nth-child(4) {
      display: grid;
      grid-row: 2;
      grid-column: 2; }
    main section ul li:nth-child(5) {
      display: none; }

  main #section-one ul li:nth-child(4),
  main #section-two ul li:nth-child(4) {
    display: flex; }
  main #section-one ul li:nth-child(5),
  main #section-two ul li:nth-child(5) {
    display: none; } }
@media screen and (max-width: 767px) {
  header nav div > a {
    margin-left: 44%; }
  header nav div ul {
    display: none; } }
@media screen and (min-width: 768px) {
  header nav div > a {
    margin-left: 0%; }
  header nav div ul {
    display: block;
    margin-left: 19%; }

  main section ul {
    grid-template-columns: 350px 350px;
    grid-template-rows: 250px 250px; }
    main section ul li:nth-child(1) {
      grid-row: 1;
      grid-column: 1; }
    main section ul li:nth-child(2) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 4; }
    main section ul li:nth-child(3) {
      /* foto do dia */
      grid-row: 2;
      grid-column: 1; }
    main section ul li:nth-child(4) {
      grid-row: 1;
      grid-column: 4; }
    main section ul li:nth-child(5) {
      grid-row: 2;
      grid-column: 4; }
    main section ul li:nth-child(4), main section ul li:nth-child(5) {
      display: none; } }
@media screen and (min-width: 768px) {
  main #section-one ul li:nth-child(4), main #section-one ul li:nth-child(5),
  main #section-two ul li:nth-child(4),
  main #section-two ul li:nth-child(5) {
    display: none; } }
@media screen and (min-width: 940px) {
  header nav div ul {
    margin-left: 35%; }

  main section ul {
    grid-template-columns: 250px 180px 180px 250px;
    grid-template-rows: 220px 220px; }
    main section ul li:nth-child(4), main section ul li:nth-child(5) {
      display: flex; }

  main #section-one ul li:nth-child(4), main #section-one ul li:nth-child(5),
  main #section-two ul li:nth-child(4),
  main #section-two ul li:nth-child(5) {
    display: flex; } }
@media screen and (min-width: 992px) {
  header nav div ul {
    margin-left: 39%; }

  main section ul {
    grid-template-columns: 270px 190px 190px 270px; } }
@media screen and (min-width: 1024px) {
  main section ul {
    grid-template-columns: 270px 200px 200px 270px;
    grid-template-rows: 250px 250px; } }
@media screen and (min-width: 1150px) {
  header nav div ul {
    margin-left: 47%; }

  main section ul {
    grid-template-columns: 310px 230px 230px 310px;
    grid-template-rows: 260px 260px; } }
@media screen and (min-width: 1250px) {
  header nav div ul {
    margin-left: 49%; }

  main section ul {
    grid-template-columns: 320px 240px 240px 320px; } }
@media screen and (min-width: 1300px) {
  header nav div ul {
    margin-left: 52%; }

  main section ul {
    grid-template-columns: 310px 290px 290px 310px;
    grid-template-rows: 270px 270px; } }

/*# sourceMappingURL=content-one-responsive.css.map */
