$id-section: "#section-one";
// MEDIA SCREEN MAX-WIDTH-539PX
$body-media-screen-539px-display: block;
$header-media-screen-539px-height:100px;
$main-section-media-screen-539px-flex-direction:column;
$main-section-ul-margin-bottom-539px: -14px;
$ul-media-screen-539px-display:flex;
$ul-media-screen-539px-flex-direction:column;
$ul-li-media-screen-539px-height:200px;
$ul-li-nth-child-media-screen-539px-grid-row-start:none;
$ul-li-nth-child-media-screen-539px-grid-row-end: none;
$ul-li-nth-child-media-screen-539px-grid-column-start:none;
$ul-li-nth-child-media-screen-539px-grid-column-end: none;
$ul-li-nth-child-media-screen-539px-display:flex;
// MEDIA SCREEN MIN-WIDTH-540PX
$body-media-screen-540px-display:grid;
$main-section-ul-media-screen-540px-display:grid;
$main-section-ul-media-screen-540px-height:0px;
$main-section-ul-margin-bottom-540px: 15px;
$main-section-ul-media-screen-540px-grid-template-columns:250px 250px;
$main-section-ul-media-screen-540px-grid-template-rows:250px 250px;
// Block One
$main-section-ul-li-nth-child-one-media-screen-540px-grid-row-start:1;
$main-section-ul-li-nth-child-one-media-screen-540px-grid-row-end:1;
$main-section-ul-li-nth-child-one-media-screen-540px-grid-column-start:1;
$main-section-ul-li-nth-child-one-media-screen-540px-grid-column-end:1;
// Block Two
$main-section-ul-li-nth-child-two-media-screen-540px-grid-row-start:1;
$main-section-ul-li-nth-child-two-media-screen-540px-grid-row-end:1;
$main-section-ul-li-nth-child-two-media-screen-540px-grid-column-start:2;
$main-section-ul-li-nth-child-two-media-screen-540px-grid-column-end:2;
// Block Three
$main-section-ul-li-nth-child-three-media-screen-540px-grid-row-start:2;
$main-section-ul-li-nth-child-three-media-screen-540px-grid-row-end:2;
$main-section-ul-li-nth-child-three-media-screen-540px-grid-column-start:1;
$main-section-ul-li-nth-child-three-media-screen-540px-grid-column-end:1;
// Block Four
$main-section-ul-li-nth-child-four-media-screen-540px-grid-row-start:2;
$main-section-ul-li-nth-child-four-media-screen-540px-grid-row-end:2;
$main-section-ul-li-nth-child-four-media-screen-540px-grid-column-start:2;
$main-section-ul-li-nth-child-four-media-screen-540px-grid-column-end:2;
// Block Five
$main-section-ul-li-nth-child-five-media-screen-540px-display:none;
// MEDIA SCREEN MAX-WIDTH-767PX
$header-nav-div-first-a-media-screen-767px-margin-left:44%;
$header-nav-div-ul-media-screen-767px-display:none;
// MEDIA SCREEN MIN-WIDTH-768PX
$header-nav-div-first-a-media-screen-768px-margin-left:0%;
$header-nav-div-ul-media-screen-768px-display:block;
$header-nav-div-ul-media-screen-768px-margin-left:19%;
$main-section-ul-media-screen-768px-grid-template-columns:350px 365px;
$main-section-ul-media-screen-768px-grid-template-rows:250px 250px;
// Block One
$main-section-ul-li-nth-child-one-media-screen-768px-grid-row-start:1;
$main-section-ul-li-nth-child-one-media-screen-768px-grid-row-end:1;
$main-section-ul-li-nth-child-one-media-screen-768px-grid-column-start:1;
$main-section-ul-li-nth-child-one-media-screen-768px-grid-column-end:1;
// Block Two
$main-section-ul-li-nth-child-two-media-screen-768px-grid-row-start: 1;
$main-section-ul-li-nth-child-two-media-screen-768px-grid-row-end: 3;
$main-section-ul-li-nth-child-two-media-screen-768px-grid-column-start: 2;
$main-section-ul-li-nth-child-two-media-screen-768px-grid-column-end: 2;
// Block Three
$main-section-ul-li-nth-child-three-media-screen-768px-grid-row-start:2;
$main-section-ul-li-nth-child-three-media-screen-768px-grid-row-end:2;
$main-section-ul-li-nth-child-three-media-screen-768px-grid-column-start:1;
$main-section-ul-li-nth-child-three-media-screen-768px-grid-column-end:1;
// Block Four
$main-section-ul-li-nth-child-four-media-screen-768px-grid-row-start:2;
$main-section-ul-li-nth-child-four-media-screen-768px-grid-row-end:2;
$main-section-ul-li-nth-child-four-media-screen-768px-grid-column-start:1;
$main-section-ul-li-nth-child-four-media-screen-768px-grid-column-end:1;
// Block Five
$main-section-ul-li-nth-child-five-media-screen-768px-grid-row-start:1;
$main-section-ul-li-nth-child-five-media-screen-768px-grid-row-end:3;
$main-section-ul-li-nth-child-five-media-screen-768px-grid-column-start:4;
$main-section-ul-li-nth-child-five-media-screen-768px-grid-column-end:4;
// End blocks
$main-section-ul-li-nth-child-media-screen-768px-display:none;
// MEDIA SCREEN MAX-WIDTH-939PX
$main-section-ul-li-nth-child-media-screen-939px-display:none;
// MEDIA SCREEN MIN-WIDTH-940PX
$header-nav-div-ul-media-screen-940px-margin-left:35%;
$main-section-ul-media-screen-940px-grid-template-columns:250px 100px 250px 260px;
$main-section-ul-media-screen-940px-grid-template-rows:220px 220px;
$main-section-ul-li-media-screen-940px-nth-child-display:flex;
// Block One
$main-section-ul-li-nth-child-one-media-screen-940px-grid-row-start:1;
$main-section-ul-li-nth-child-one-media-screen-940px-grid-row-end:1;
$main-section-ul-li-nth-child-one-media-screen-940px-grid-column-start:1;
$main-section-ul-li-nth-child-one-media-screen-940px-grid-column-end:1;
// Block Two
$main-section-ul-li-nth-child-two-media-screen-940px-grid-row-start: 1;
$main-section-ul-li-nth-child-two-media-screen-940px-grid-row-end: 3;
$main-section-ul-li-nth-child-two-media-screen-940px-grid-column-start: 2;
$main-section-ul-li-nth-child-two-media-screen-940px-grid-column-end: 4;
// Block Three
$main-section-ul-li-nth-child-three-media-screen-940px-grid-row-start:2;
$main-section-ul-li-nth-child-three-media-screen-940px-grid-row-end:2;
$main-section-ul-li-nth-child-three-media-screen-940px-grid-column-start:4;
$main-section-ul-li-nth-child-three-media-screen-940px-grid-column-end:4;
// Block Four
$main-section-ul-li-nth-child-four-media-screen-940px-grid-row-start:2;
$main-section-ul-li-nth-child-four-media-screen-940px-grid-row-end:2;
$main-section-ul-li-nth-child-four-media-screen-940px-grid-column-start:1;
$main-section-ul-li-nth-child-four-media-screen-940px-grid-column-end:1;
// Block Five
$main-section-ul-li-nth-child-five-media-screen-940px-grid-row-start:1;
$main-section-ul-li-nth-child-five-media-screen-940px-grid-row-end:1;
$main-section-ul-li-nth-child-five-media-screen-940px-grid-column-start:4;
$main-section-ul-li-nth-child-five-media-screen-940px-grid-column-end:4;
// End blocks
// MEDIA SCREEN MIN-WIDTH-992PX
$header-nav-div-ul-media-screen-992px-margin-left:39%;
$main-section-ul-media-screen-992px-grid-template-columns:250px 150px 250px 270px;
// MEDIA SCREEN MIN-WIDTH-1024PX
$main-section-ul-media-screen-1024px-grid-template-columns:250px 170px 250px 270px;
$main-section-ul-media-screen-1024px-grid-template-rows:250px 250px;
// MEDIA SCREEN MIN-WIDTH-1050PX
$header-nav-div-ul-media-screen-1150px-margin-left:47%;
$main-section-ul-media-screen-1150px-grid-template-columns:280px 200px 290px 310px;
$main-section-ul-media-screen-1150px-grid-template-rows:260px 260px;
// MEDIA SCREEN MIN-WIDTH-1250PX
$header-nav-div-ul-media-screen-1250px-margin-left:49%;
$main-section-ul-media-screen-1250px-grid-template-columns: 260px 240px 320px 300px;
// MEDIA SCREEN MIN-WIDTH-1300PX
$header-nav-div-ul-media-screen-1300px-margin-left:52%;
$main-section-ul-media-screen-1300px-grid-template-columns:310px 290px 290px 310px;
$main-section-ul-media-screen-1300px-grid-template-rows:270px 270px;
// IMPORT MODEL
@import '../models/content-responsive-model.scss';