// BODY
$body-background:#000;
$body-display:grid;
$body-justify-content:center;
$body-font-family-one:sans-serif;
$body-font-family-two:Helvetica;
$body-font-family-three:Arial;
$body-grid-template-area-one:"header";
$body-grid-template-area-two:"content";
$body-grid-template-area-three:"footer";
$body-grid-template-columns:auto;
$body-grid-template-rows:100px auto auto;
$body-background-image:url(../img/nav-nasa.jpg);
$body-background-repeat:repeat-x;
// HEADER
$header-grid-area:header;
$header-align-items:center;
$header-display:flex;
// MAIN
$main-grid-area:content;
// FOOTER
$footer-grid-area:footer;
$footer-background:#fdfdfd;
$footer-color:#333333;
$footer-font-size:.8rem;
$footer-padding:1rem;
$footer-text-align:center;
// IMPORT MODEL
@import './model-index.scss';