// NAV
$nav-background-color: transparent;
$nav-search-icon-height: 64px;
$nav-search-icon-line-height: 56px;
$nav-first-div-margin-top: -5px;
// ICON NASA
$icon-nasa-display: block;
$icon-nasa-height: 65px;
$icon-nasa-width: 65px;
$icon-nasa-float: left;
$icon-nasa-background-image: url('../img/logo-nasa.png');
$icon-nasa-background-repeat: no-repeat;
$icon-nasa-background-size: contain;
// UL
$nav-ul-margin-top: 10px;
// UL LI A
$nav-ul-li-a-color: #ffffffb0;
$nav-ul-li-a-margin-top: 0px;
$nav-ul-li-a-padding-bottom: 0px;
$nav-ul-li-a-hover-border-bottom: 1px solid #ffffffb0;
// UL LI LAST CHILD (SEARCH)
$nav-ul-li-last-child-margin: 4px 0px 20px 30px;
$nav-ul-li-last-child-input-height: 55px !important;
$nav-ul-li-last-child-input-padding-left: 4rem;
$nav-ul-li-last-child-width: calc(75%);
$nav-ul-li-last-child-border: 0;
$nav-ul-li-last-child-box-shadow: none;
$nav-ul-li-last-child-search-and-search-input-border-radius: 50px !important;
$nav-ul-li-last-child-search-height: 55px;
$nav-ul-li-last-child-search-width: 255px;
$nav-ul-li-last-child-search-background: #ffffff08;
$nav-ul-li-last-child-search-label-i-cursor: pointer;
// IMPORT MODEL
@import './models/header-model.scss';